body {
  background-color: #eee;
}


.card {
  background-color: #fff;
  /* width: 500px; */
  /* height: 300px; */
  border: none;
  border-radius: 16px;
  padding: 10px;
  align-items: center;
  justify-content: center;
}

.info {
  line-height: 19px;
}

.name {
  color: #4c40e0;
  font-size: 18px;
  font-weight: 600;
}

.order {
  font-size: 14px;
  color: #000;
}
.summery {
  font-size: 15px;
  color: #000;
}
.detail {
  line-height: 19px;
}

.money {
  font-size: 14px;
  font-weight: 500;
  margin-top: 10px;
  display: flex;
  align-items: center;
}
.cash {
  padding-left: 5px;
  color: #000;
}
.text {
  line-height: 15px;
}
.new {
  color: #000;
  font-size: 14px;
  font-weight: 600;
}
.address {
  color: #000;
  font-weight: 500;
  font-size: 14px;
}

.last {
  font-size: 10px;
  font-weight: 500;
}
.btn {
  text-align: center;
  vertical-align: middle;
  padding: 0.67em 0.67em;
  cursor: pointer;
  margin-top: 10px;
}
.btn-danger {
  border: 0 none;
  outline: 0 none;
  color: white;
  background-color: #eb5757;
  border: none;
  border-radius: 0.3em;
  font-weight: bold;
}
.btn-danger:hover {
  background-color: #cc4c4c;
}

  .buyerinfo {
    display: flex;
    flex-direction: row;
    
   ;
  }
  #orders-info {
    border: #000 solid 1px;
    padding: 20px;
    display: flex;
    flex-direction: row;
  }
  
 
